/* #Reset & Basics (Inspired by E. Meyers)================================================== */


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* #Basic Styles================================================== */


/* #Typography================================================== */
h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-family: PTSansNarrowRegular, "Georgia", "Times New Roman";
    font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit
}

h1 {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 14px;
}

h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 8px;
    font-family: PTSansNarrowBold;
    text-shadow: 1px 1px 0px white, 2px 2px 0px #CCC;
}

h4 {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 8px;
}

h5 {
    font-size: 17px;
    line-height: 34px;
    margin-bottom: 0px;
}

h6 {
    font-size: 14px;
    line-height: 21px;
}

p {
    margin: 0 0 20px 0
}

p img {
    margin: 0
}

p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777;
}

em {
    font-style: italic
}

strong {
    font-weight: bold;
    color: #333;
}

small {
    font-size: 80%
}

/* Blockquotes */
blockquote, blockquote p {
    font-size: 17px;
    line-height: 24px;
    color: #777;
    font-style: italic;
}

blockquote {
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #ddd;
}

blockquote cite {
    display: block;
    font-size: 12px;
    color: #555;
}

blockquote cite:before {
    content: "\2014 \0020"
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
    color: #555
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/* #Links================================================== */

a {
    color: #333;
    text-decoration: none;
    outline: 0;
}

a:hover {
    cursor: pointer;
}

a:hover, a:focus {
    color: #000;
    text-decoration: none;

}

p a, p a:visited {
    line-height: inherit
}

/* #Lists================================================== */
ul, ol {
    margin-bottom: 20px
}

ul {
    list-style: none outside
}

ol {
    list-style: decimal
}

ul ul, ul, ol ul {
    margin: 5px 0;

}

ul ul li, ul , ol ul li {
    margin-bottom: 6px
}

li {
    line-height: 18px;
    margin-bottom: 12px;
}

ul.large li {
    line-height: 21px
}

li p {
    line-height: 21px
}

/* #Images================================================== */
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}


/* #Forms================================================== */
form {
    margin-bottom: 20px
}

fieldset {
    margin-bottom: 20px
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* #Slider================================================== */
/*! http://responsiveslides.com v1.32 by @viljamis */
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    float: left;
    border: 0px;
}

.rslides {
    margin: 0 auto;
}

.rslides_container {
    position: relative;
    float: left;
    width: 100%;
    background: url(../images/slidershad.png) no-repeat;
    background-position: 0px 314px;
}

.centered-btns_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    margin-top: -45px;
}

.centered-btns_nav:active {
    opacity: 1.0;
}

.centered-btns_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

.transparent-btns_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    display: block;
    background: #fff; /* Fix for IE6-9 */
    opacity: 0;
    filter: alpha(opacity=1);
    width: 48%;
    text-indent: -9999px;
    overflow: hidden;
    height: 91%;
}

.transparent-btns_nav.next {
    left: auto;
    right: 0;
}

.large-btns_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0.6;
    text-indent: -9999px;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    width: 38px;
}

.large-btns_nav:active {
    opacity: 1.0;
}

.large-btns_nav.next {
    left: auto;
    background-position: right 50%;
    right: 0;
}

.centered-btns_nav:focus, .transparent-btns_nav:focus, .large-btns_nav:focus {
    outline: none;
}

.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs {
    text-align: center;
}

.centered-btns_tabs li, .transparent-btns_tabs li, .large-btns_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
}

.centered-btns_tabs a, .transparent-btns_tabs a, .large-btns_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    background: rgba(0, 0, 0, .2);
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, .3);
    width: 9px;
    height: 9px;
}

.centered-btns_here a, .transparent-btns_here a, .large-btns_here a {
    background: #222;
    background: rgba(0, 0, 0, .8);
}


.afterheader {
    background-image: -moz-linear-gradient(top, #DDD, white 30%, white);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DDD), color-stop(30%, white), color-stop(1, white));
    background-image: linear-gradient(top, #DDD, white 30%, white);
    padding-top: 20px;
    height: 60px;
}

.menuitems li {
    float: left;
    padding: 0 15px;
    text-shadow: 0px 1px 1px white;
}

a.actionbutton {
    text-align: center;
    margin-top: 20px;
    font-family: BebasNeueRegular;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 45px 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 1px 6px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 1px 6px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 6px rgba(000, 000, 000, 0.5), inset 0px 0px 1px rgba(255, 255, 255, 1);
    text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.7), 0px 1px 0px rgba(255, 255, 255, 0.3);
    -webkit-transition: background 1s ease, color 1s ease;
    -moz-transition: background 1s ease, color 1s ease;
    -o-transition: background 1s ease, color 1s ease;
    -ms-transition: background 1s ease, color 1s ease;
    transition: background 1s ease, color 1s ease;
}

.middlealign {
    vertical-align: middle
}

a.headerbutton {
    font-weight: normal;
    margin-top: 10px;
    -moz-transition: all 0.1s linear 0s;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    padding: 3px 24px;
    text-shadow: 0 1px 0px #fff;
    font-family: PTSansNarrowBold, Georgia, serif;
    color: #666;
    -webkit-transition: color .34s linear;
    transition: color .34s linear;
    border-radius: 0px;
}

a.headerbutton:hover {
    color: #222
}

.wraplogo {
    vertical-align: middle;
    font-size: 15px;
    margin-top: -4px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
}

.subheader {
    color: #777
}

.rightnav {
    float: right;
    margin-top: -15px;
    font-size: 15px;
}

.rightnavtext {
    font-weight: bold;
    font-size: 17px;
}

.slidepic {
    width: 500px !important;
    height: 300px !important;
    border: 2px solid #ccc;
    margin-top: 10px;
}

.slidertext {
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
}

.stress {
    border-bottom: 1px dashed #eee;
}

.titleborder {
    clear: both;
    background: url(../images/divider.png) repeat-x center;
    text-align: center;
    position: relative;
    vertical-align: baseline;

}

.title {
    background: none;
    text-shadow: 1px 1px 0px white, 2px 2px 0px #CCC;
    position: relative;
    padding: 0 10px;
    font-size: 25px;

    line-height: 35px;
}

.spotlight {
    border: double;
    color: #fff;
    padding: 30px 30px 25px 30px;
    margin-bottom: 10px;
}

.download {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: PTSansNarrowBold;
    padding-bottom: 30px;
    text-align: center;
}

.steps {
    font-size: 20px;
    font-family: PTSansNarrowBold;
    text-align: center;
}

.beforepurchase {
    height: 40px
}

.separatorv {
    border-right: 1px dashed #ccc;
}

.paddright {
    padding-right: 10px;
    margin-bottom: 0px;
}

.testimonial {
    padding-top: 8px;
    border-top: 1px dashed #ddd;
    color: #666;
    font-family: PTSansItalic;
    font-size: 12px;
    text-align: justify;
}

.author {
    margin-left: 46px;
    color: #999;
    font-size: 12px;
    font-family: PTSansRegular;
    display: block;
    margin-top: 5px;
}

.pricebadge {
    position: absolute;
    margin-top: -70px;
    margin-left: 40px;
}

.scrollpause {
    height: 18px;
}

.neg {
    margin-top: -30px
}

.negdown {
    margin-bottom: -30px
}

.center {
    text-align: center
}

.floatright {
    float: right;
}

.leftpic {
    float: left;
    padding-right: 10px;
    margin-top: 4px;
}

.rightpad {
    padding-right: 20px;
}

.facebook {
    margin-left: -4px;
    background: url(../images/facebookdark.png) no-repeat;
    width: 48px;
    height: 48px;
    padding-right: 20px;
    float: left;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.twitter {
    background: url(../images/twitterdark.png) no-repeat;
    width: 48px;
    height: 48px;
    float: left;
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.facebook:hover {
    background: url(../images/facebookactive.png) no-repeat
}

.twitter:hover {
    background: url(../images/twitteractive.png) no-repeat
}

.back-top-wrapper {
    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 50px;
}

.back-top {
    bottom: 55px;
    right: 20px;
    margin-bottom: 0;
    display: block;
    position: fixed;

    display: none;
}

.back-top a {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #ddd url(../images/up-arrow.png) no-repeat center center;
    border-radius: 5px; /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.back-top a:hover {
    background-color: #333;
}

/* arrow icon (span tag) */
.back-top span {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 10px; /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

.footerwrap {
    background: url(../images/footerwrap.jpg) repeat-x;
}

.footer {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #ddd;
    color: #555;
    background-position: center;
    padding-top: 15px;
}

.footertext, .footertext a {
    margin: 15px 0 20px;
    font-size: 13px;
}

.footer h1 {
    font-size: 18px;
    font-family: PTSansNarrowBold;
    line-height: 14px;
}

.copyright, .copyright a {
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #fff;
}

.gototopmobile {
    display: none;
}

a.label:focus, a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.label:focus, .label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.label:empty {
    display: none
}

.btn .label {
    position: relative;
    top: -1px
}

.label-default {
    background-color: #777
}

.label-default[href]:focus, .label-default[href]:hover {
    background-color: #5e5e5e
}

.label-primary {
    background-color: #337ab7
}

.label-primary[href]:focus, .label-primary[href]:hover {
    background-color: #286090
}

.label-success {
    background-color: #5cb85c
}

.label-success[href]:focus, .label-success[href]:hover {
    background-color: #449d44
}

.label-info {
    background-color: #5bc0de
}

.label-info[href]:focus, .label-info[href]:hover {
    background-color: #31b0d5
}

.label-warning {
    background-color: #f0ad4e
}

.label-warning[href]:focus, .label-warning[href]:hover {
    background-color: #ec971f
}

.label-danger {
    background-color: #d9534f
}

.label-danger[href]:focus, .label-danger[href]:hover {
    background-color: #c9302c
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 25px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: 700
}

.alert > p, .alert > ul {
    margin-bottom: 0
}

.alert > p + p {
    margin-top: 5px
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-success hr {
    border-top-color: #c9e2b3
}

.alert-success .alert-link {
    color: #2b542c
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #245269
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.alert-warning hr {
    border-top-color: #f7e1b5
}

.alert-warning .alert-link {
    color: #66512c
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

a.list-group-item, button.list-group-item {
    color: #555
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
    color: #333
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5
}

button.list-group-item {
    width: 100%;
    text-align: left
}

.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #eee
}

.list-group-item.disabled .list-group-item-heading, .list-group-item.disabled:focus .list-group-item-heading, .list-group-item.disabled:hover .list-group-item-heading {
    color: inherit
}

.list-group-item.disabled .list-group-item-text, .list-group-item.disabled:focus .list-group-item-text, .list-group-item.disabled:hover .list-group-item-text {
    color: #777
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7
}

.list-group-item.active .list-group-item-heading, .list-group-item.active .list-group-item-heading > .small, .list-group-item.active .list-group-item-heading > small, .list-group-item.active:focus .list-group-item-heading, .list-group-item.active:focus .list-group-item-heading > .small, .list-group-item.active:focus .list-group-item-heading > small, .list-group-item.active:hover .list-group-item-heading, .list-group-item.active:hover .list-group-item-heading > .small, .list-group-item.active:hover .list-group-item-heading > small {
    color: inherit
}

.list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active:hover .list-group-item-text {
    color: #c7ddef
}

.list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8
}

a.list-group-item-success, button.list-group-item-success {
    color: #3c763d
}

a.list-group-item-success .list-group-item-heading, button.list-group-item-success .list-group-item-heading {
    color: inherit
}

a.list-group-item-success:focus, a.list-group-item-success:hover, button.list-group-item-success:focus, button.list-group-item-success:hover {
    color: #3c763d;
    background-color: #d0e9c6
}

a.list-group-item-success.active, a.list-group-item-success.active:focus, a.list-group-item-success.active:hover, button.list-group-item-success.active, button.list-group-item-success.active:focus, button.list-group-item-success.active:hover {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d
}

.list-group-item-info {
    color: #31708f;
    background-color: #d9edf7
}

a.list-group-item-info, button.list-group-item-info {
    color: #31708f
}

a.list-group-item-info .list-group-item-heading, button.list-group-item-info .list-group-item-heading {
    color: inherit
}

a.list-group-item-info:focus, a.list-group-item-info:hover, button.list-group-item-info:focus, button.list-group-item-info:hover {
    color: #31708f;
    background-color: #c4e3f3
}

a.list-group-item-info.active, a.list-group-item-info.active:focus, a.list-group-item-info.active:hover, button.list-group-item-info.active, button.list-group-item-info.active:focus, button.list-group-item-info.active:hover {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f
}

.list-group-item-warning {
    color: #8a6d3b;
    background-color: #fcf8e3
}

a.list-group-item-warning, button.list-group-item-warning {
    color: #8a6d3b
}

a.list-group-item-warning .list-group-item-heading, button.list-group-item-warning .list-group-item-heading {
    color: inherit
}

a.list-group-item-warning:focus, a.list-group-item-warning:hover, button.list-group-item-warning:focus, button.list-group-item-warning:hover {
    color: #8a6d3b;
    background-color: #faf2cc
}

a.list-group-item-warning.active, a.list-group-item-warning.active:focus, a.list-group-item-warning.active:hover, button.list-group-item-warning.active, button.list-group-item-warning.active:focus, button.list-group-item-warning.active:hover {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #8a6d3b
}

.list-group-item-danger {
    color: #a94442;
    background-color: #f2dede
}

a.list-group-item-danger, button.list-group-item-danger {
    color: #a94442
}

a.list-group-item-danger .list-group-item-heading, button.list-group-item-danger .list-group-item-heading {
    color: inherit
}

a.list-group-item-danger:focus, a.list-group-item-danger:hover, button.list-group-item-danger:focus, button.list-group-item-danger:hover {
    color: #a94442;
    background-color: #ebcccc
}

a.list-group-item-danger.active, a.list-group-item-danger.active:focus, a.list-group-item-danger.active:hover, button.list-group-item-danger.active, button.list-group-item-danger.active:focus, button.list-group-item-danger.active:hover {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442
}

.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3
}

/*分页样式重写 */
/* line 1, ../sass/inc/_post.sass */
#wiki_cnt {
    color: #666666;
}

/* line 3, ../sass/inc/_post.sass */
#wiki_cnt p {
    color: #666666;
    font-size: 0.825em;
    text-indent: 2em;
}

/* line 7, ../sass/inc/_post.sass */
#wiki_cnt h1 {
    color: #666666;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.6em;
}

/* line 12, ../sass/inc/_post.sass */
#wiki_cnt h2 {
    color: #666666;
    font-size: 1em;
    font-weight: bolder;
    line-height: 1.4em;
}

/* line 17, ../sass/inc/_post.sass */
#wiki_cnt h3 {
    color: #666666;
    font-size: 0.825em;
    font-weight: bolder;
    line-height: 1.4em;
}

/* line 23, ../sass/inc/_post.sass */
#wiki_cnt li {
    font-size: 0.825em;
    list-style-type: circle;
}

/* line 29, ../sass/inc/_post.sass */
#wiki_cnt table li {
    list-style-type: none;
}

.table {
    border-collapse: collapse !important
}

.table td, .table th {
    background-color: #fff !important
}

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd !important
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5
}

table col[class*=col-] {
    position: static;
    display: table-column;
    float: none
}

table td[class*=col-], table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none
}

.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
    background-color: #f5f5f5
}

.table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover {
    background-color: #e8e8e8
}

.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
    background-color: #dff0d8
}

.table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr.success:hover > th, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover {
    background-color: #d0e9c6
}

.table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > thead > tr > td.info, .table > thead > tr > th.info {
    background-color: #d9edf7
}

.table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr.info:hover > th, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover {
    background-color: #c4e3f3
}

.table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > thead > tr > td.warning, .table > thead > tr > th.warning {
    background-color: #fcf8e3
}

.table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr.warning:hover > th, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover {
    background-color: #faf2cc
}

.table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger {
    background-color: #f2dede
}

.table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr.danger:hover > th, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover {
    background-color: #ebcccc
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto
}

.pure-menu-list, .pure-menu-item {
    position: relative
}

.pure-menu-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.pure-menu-item {
    padding: 0;
    margin: 0;
    height: 100%
}

.pure-menu-link, .pure-menu-heading {
    display: block;
    text-decoration: none;
    white-space: nowrap
}

.pure-menu-horizontal {
    width: 100%;
    white-space: nowrap
}

.pure-menu-horizontal .pure-menu-list {
    display: inline-block
}

.pure-menu-horizontal .pure-menu-item, .pure-menu-horizontal .pure-menu-heading, .pure-menu-horizontal .pure-menu-separator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle
}

.pure-menu-item .pure-menu-item {
    display: block
}

.pure-menu-children {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 3
}

.pure-menu-horizontal .pure-menu-children {
    left: 0;
    top: auto;
    width: inherit
}

.pure-menu-allow-hover:hover > .pure-menu-children, .pure-menu-active > .pure-menu-children {
    display: block;
    position: absolute
}

.pure-menu-has-children > .pure-menu-link:after {
    padding-left: .5em;
    content: "\25B8";
    font-size: small
}

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
    content: "\25BE"
}

.pure-menu-scrollable {
    overflow-y: scroll;
    overflow-x: hidden
}

.pure-menu-scrollable .pure-menu-list {
    display: block
}

.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
    display: inline-block
}

.pure-menu-horizontal.pure-menu-scrollable {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    padding: .5em 0
}

.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar {
    display: none
}

.pure-menu-separator {
    background-color: #ccc;
    height: 1px;
    margin: .3em 0
}

.pure-menu-horizontal .pure-menu-separator {
    width: 1px;
    height: 1.3em;
    margin: 0 .3em
}

.pure-menu-heading {
    text-transform: uppercase;
    color: #565d64
}

.pure-menu-link {
    color: #777
}

.pure-menu-children {
    background-color: #fff
}

.pure-menu-link, .pure-menu-disabled, .pure-menu-heading {
    padding: .5em 1em
}

.pure-menu-disabled {
    opacity: .5
}

.pure-menu-disabled .pure-menu-link:hover {
    background-color: transparent
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
    background-color: #eee
}

.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
    color: #000
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}

.location .iga_bread_crumb .active {
    color: #000;
    font-weight: bold;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}


/* line 656, ../sass/partial/_style.sass */
#bgcolor {
    background: #f0f0f0;
}

/* line 658, ../sass/partial/_style.sass */
#bgcolor:hover {
    background: #cccccc;
}

/* line 663, ../sass/partial/_style.sass */
.list-group-item a {
    color: #00376d;
}

/* line 667, ../sass/partial/_style.sass */
.iga_bread_crumb a {
    color: #00376d;
}

/* line 670, ../sass/partial/_style.sass */
.listinfo_time {
    font-size: 12px;
    color: #999;
}

/* line 673, ../sass/partial/_style.sass */
img {
    border: 0;
    vertical-align: top;
}

/* line 679, ../sass/partial/_style.sass */
.list a {
    color: #00376d;
}

.btn a,.btn-primary a,.btn a:hover,.btn-primary a:hover{
    color: #ffffff;
}

a.btn ,a.btn-primary{
    color: #ffffff;
}