@charset "UTF-8";

/* Single */
.single {
    padding: 0px 23px;
    width: 100%;
    line-height: 24px;
}

.single h1, .single h2 {
    padding: 15px 0px 8px;
    font-size: 22px;
    color: #0b3b8c;
    text-align: center;
    border-bottom: 1px solid #e1e9f0;
}

.single .singlemeta {
    padding: 3px 0px 0px;
    text-align: center;
}

.single a {
    color: #006699;
    text-decoration: none;
}

.single a:hover {
    color: #3399cc;
}

.single a:hover {
    text-decoration: underline;
}

.entry {
    margin-top: 20px;
    font-size: 13px;
    overflow: hidden;
}

.entry h2 {
    padding: 0;
    text-align: left;
    color: #222222;
    border: none;
}

.entry p {
    margin-bottom: 15px;
    text-indent: 24px;
}

.entry .summary {
    padding: 8px 5px 6px 10px;
    font-size: 13px;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
}

.entry img {
    margin-bottom: 10px;
    max-width: 620px;
}

.entry ul, .entry ol {
    margin: 10px 20px;
    margin-left: 40px;
    list-style: disc;
}

.entry ul li {
    list-style: disc;
}

.entry ol li {
    list-style: decimal;
}

.entry a {
    color: #006699;
    text-decoration: none;
}

.entry a:hover {
    color: #3399cc;
}

.entry a:hover {
    text-decoration: underline;
}

/*首页图片 */
/* line 1, ../sass/inc/_indexgoods.sass */
.indexGoods {
    height: 140px;
    margin-bottom: 10px;
}

/* line 18, ../sass/inc/_indexgoods.sass */
.indexGoods .scrollBox .list li {
    float: left;
    display: inline;
    width: 162px;
    margin-right: 10px;
    overflow: hidden;
}

/* line 27, ../sass/inc/_indexgoods.sass */
.indexGoods .scrollBox .list li img {
    width: 162px;
    height: 120px;
}

/* line 30, ../sass/inc/_indexgoods.sass */
.indexGoods .scrollBox .list li span {
    width: 162px;
    height: 20px;
    line-height: 20px;
    display: block;
    text-align: center;
    overflow: hidden;
}

/* Header */
.header {
    float: left;
    margin-bottom: 10px;
    width: 980px;
}

/* Pagenavi */
.pagenavi {
    margin: 0px auto 30px;
    padding: 15px 0px 5px;
    text-align: center;
    vertical-align: middle;
}

.pagenavi a:link, .pagenavi a:visited {
    margin: 0 2px;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #d5d5d5;
    background-color: #f0f4f5;
    display: inline-table;
}

.pagenavi a:hover, .pagenavi a:active {
    border: 1px solid #99ccee;
    color: #003366;
    background-color: #e3f2fc;
}

.pagenavi a.extend {
    padding: 4px 8px;
    color: #222222;
}

.pagenavi a.extend:hover {
    color: #003366 !important;
}

.pagenavi a.current:link, .pagenavi a.current:visited, .pagenavi a.current:hover {
    border: 1px solid #0066ff;
    font-weight: bold;
    color: #00376d !important;
    background-color: #c5d5e4;
}

.pagenavi span {
    padding-left: 10px;
    color: #666666;
}

.pagenavi ul li {
    display: inline;
}

.postnavi {
    margin: 0px auto 30px;
    padding: 15px 0px 5px;
    text-align: center;
}

.previous_post, .next_post {
    width: 300px;
    height: 24px;
    overflow: hidden;
}

.previous_post {
    float: left;
    text-align: left;
}

.next_post {
    float: right;
    text-align: right;
}

.postnavi a:link, .postnavi a:visited {
    color: #003366;
    text-decoration: none;
}

.postnavi a:hover {
    color: #bb0000;
    text-decoration: underline;
}

/* line 18, ../sass/inc/_tags.sass */
.kwd_cat, .post_cat {
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
    display: inline;
    color: #ffffff;
}

/* line 25, ../sass/inc/_tags.sass */
.kwd_cat a, .post_cat a {
    color: #ffffff;
    text-decoration: none;
    margin: 0px 3px 0px 3px;
    padding: 0px 3px 0px 3px;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.kwd_cat a:hover, .post_cat a:hover {
    color: #eeeeee;
}

/* line 4, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.kwd_cat a:hover, .post_cat a:hover {
    text-decoration: underline;
}

/* line 33, ../sass/inc/_tags.sass */
.kwd_cat a.tag1, .post_cat a.tag1 {
    background-color: #88b9b9;
}

/* line 35, ../sass/inc/_tags.sass */
.kwd_cat a.tag2, .post_cat a.tag2 {

    background-color: #de958f;
}

/* line 38, ../sass/inc/_tags.sass */
.kwd_cat a.tag3, .post_cat a.tag3 {
    background-color: #a9c365;
}

/* line 40, ../sass/inc/_tags.sass */
.kwd_cat a.tag4, .post_cat a.tag4 {
    background-color: #99b3dd;
}

/* line 40, ../sass/inc/_tags.sass */
.kwd_cat a.tag5, .post_cat a.tag5 {
    background-color: #3E7087;
}

/* line 43, ../sass/inc/_tags.sass */
.post_cat {
    font-size: 0.9em;
}

/* line 46, ../sass/inc/_tags.sass */
/*.post_catalog a {
  border: 1px solid #ffff80;
}
*/

.bor_bottom {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.panel-title .more {
    float: right;
    padding-right: 10px;
}

.d_nav a {
    color: #006699;
}

.infoselect span:hover {
    cursor: pointer;
}

.pagination li:hover {
    cursor: pointer;
}

.line-height25 {
    line-height: 30px;
}

.panel-footer a {
    color: #036;

}

#list-group .panel-heading {

    border-bottom: 1px solid #c0171f;
    border-bottom-width: 2px;

}

#list-group .panel-heading2 {
    border-bottom: 1px solid #334fa0;
    border-bottom-width: 2px;
}

#list-group .panel-heading a, #list-group .panel-heading2 a {
    color: #333;
    font-weight: bold;

}

#list-group .list-group-item {
    border-left: 0;
    border-right: 0;

}

#list-group h3, #list-group .panel-heading2 {
    padding-bottom: 10px;
}

a.btn-primary {
    color: #fff
}

.btn-primary a {
    color: #fff;
}

li {
    list-style-type: none;
}

.infoselect .list-group-item span{
    line-height: 25px;
}
